<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" /> -->
    <link rel="stylesheet" href="./assets/style/all.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <div class="container d-flex">
        <a class="navbar-brand logo order-1 order-md-0" href="index.html">Craftsman</a>
        <button class="navbar-toggler d-md-none order-0" type="button"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          data-toggle="modal" data-target="#exampleModalLong">
          <i class="material-icons">dehaze</i>
        </button>
        <div class="d-flex">
          <div class="navbar-custom d-none d-md-block" id="navbarNav">
            <ul class="list-unstyled d-flex">
                <li class="nav-item">
                    <a class="nav-link bar-link-custom txt-black" href="#">Product<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bar-link-custom txt-black" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bar-link-custom txt-black" href="#">Contact</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link bar-link-custom txt-black" href="#"><i class="material-icons">shopping_cart</i></a>
                </li> -->
            </ul>
          </div>
          <a class="nav-link bar-link-custom txt-black order-2" href="#"><i class="material-icons">shopping_cart</i></a>
        </div>
        
      </div>
    </nav>
  </div>

    <%- contents %>

  <footer class="footer">
    <div class="subscribe-block">
      <div class="container">
        <h1 class="submit-title">
          Subscribe for news
          <br>and special offers!
      </h1>
      <div class="submit-email">
          <input type="text" class="email" placeholder="Your email address">
          <button>Subscribe</button>
      </div>
    </div>
      
    </div>
    <div class="footer-bottom container d-flex flex-column flex-md-row py-4 py-md-5 justify-content-lg-between align-items-md-center">
        <div class="copyrigh order-0 order-md-0 order-lg-0 d-flex align-items-lg-center">
          <h4 class="logo mr-16 mb-5 mb-md-0">Craftsman</h4>
        </div>
        <p class="copy order-2 order-md-2 order-lg-1">© 2020. All Rights Reserved.</p>
        <ul class="d-flex flex-column flex-md-row order-1 order-md-1 order-lg-2">
            <li class="mr-48 pad-mb-16 mb-3 mb-md-0">Purchase Policy</li>
            <li class="mr-48 pad-mb-16 mb-3 mb-md-0">Privacy Policy</li>
            <li class="mr-48 pad-mb-48 mb-5 mb-md-0">Terms & Conditions</li>
        </ul>
    </div>
  </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>